{% extends "base.html" %} {% block content %}

<header id="page-header">
    <div class="container my-3 bg-light">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>
                    LET ME <span class="text-primary">INTRODUCE</span> MYSELF
                </h1>
                <p>
                    千葉大学法政経学部4年の勝山瑞己です。<br />今は休学をして、プログラミングの勉強をしています！
                </p>
            </div>
        </div>
    </div>
</header>

<section id="about">
    <div class="container py-3 mb-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Know Who <span class="text-primary">I'M</span></h2>
                <br />
                <p>
                    私はプログラミングに夢中になり、少なくとも何かを学んだと思います…
                    🤷‍♂️ <br />私はまず初めに、Webの幅広い分野を学びました。
                    Linux、プログラミング、セキュリティ、アーキテクティング、AI/データサイエンス、UI/UX
                    ...
                    <br />興味のある分野は、AWSなどのクラウドサービスも含めた
                    バックエンドの設計
                    など、アーキテクチャに関連する分野です。<br />
                    多くのことを学び、点と点がつながる感覚を得ました。<br />ここからは、分野を絞って得意なことを突き詰めていきたいと思います。
                </p>
                <br />
                <h4 class="fst-italic">
                    "<span class="text-primary">明るい未来</span>のために<span
                        class="text-primary"
                        >毎日努力</span
                    >しよう！"
                </h4>
            </div>
            <div class="col-md-6">
                <img
                    src="https://source.unsplash.com/alw-CwGFmwQ/700x700"
                    class="rounded-circle img-fluid d-none d-md-block"
                />
            </div>
        </div>
    </div>
</section>

<section id="skillset">
    <div class="container justify-content-center flex-col">
        <h1 class="text-center">
            My used <span class="text-primary">Skillset</span>
        </h1>
        <div class="icons container bg-light">
            <div class="row d-flex justify-content-center">
                <img
                    src="../static/icons/html-5.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/sass.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/typescript-icon.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/react.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/python.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/flask.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/go.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/git-icon.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/postgresql.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/docker-icon.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/neovim.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/linux-tux.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/macOS.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/postman-icon.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/slack-icon.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
                <img
                    src="../static/icons/mattermost-icon.svg"
                    class="col-md-2 col-4 rounded p-3"
                />
            </div>
        </div>
    </div>
</section>

{% endblock %}
